<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <body>

        <div class="d-flex justify-content-between align-items-center my-5 px-5 ">
            <h2 class="text-center">Welcome {{ logged_user.first_name}} {{ logged_user.last_name}}!!!</h2>
            <a href="/shows/new" class="btn btn-info">+Create</a>
            <a href="/logout" class="btn btn-info">Logout</a>
        
        </div>
        <h1 class="text-center">All TV shows:</h1>
        <table class="table table-hover mx-5">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Network</th>
                    <th>Release Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for show in all_show %}
                <tr>
                    <td>{{ show.title }}</td>
                    <td>{{ show.network}}</td>
                    <td>{{ show.release_date}}</td>
                    <td>
                        <a href="/shows/{{show.id}}">Show</a>|
                        {% if session['user_id']==show.poster.id %}
                        <a href="/edit_show/{{show.id}} ">Edit</a> |
                        <a href="/delete/{{show.id}} ">Delete</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </body>

</html>
</body>

</html>