<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>All Restaurant</title>
    </head>

    <body>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Restaurant</th>
        
                </tr>
            </thead>
            <tbody>
                {% for restaurant in all_restaurant %}
                <tr>
                    <td>{{restaurant.name}}{{restaurant.burgers.name}} </td>
            

                </tr>
                {% endfor %}
            </tbody>
        </table>

    </body>

</html>